
body {
    height: 480px;
    width: 320px;
    border: 2px solid blue;
    
}


#disp {
    height: 80px;
    width: auto;

    
}

#keys {
    align-content: center;
    
}

.spacer {
    height: 4px;
        
}

.mainbutton {
    font-size:300%;
     width: 24%;
    height: 94.8px;
}
