
body {
    height: 480px;
    width: 320px;
    border: 2px solid blue;
    background-color: black;
    
}


#display {
    height: 78px;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;

    
}

#keys {
    align-content: center;
    
}

.spacer {
    height: 4px;
        
}

.mainbutton {
    font-size:300%;
     width: 24.06%;
    height: 94.8px;
}
